<section class="welcome-title">
  <h1>Remember the Rhthym?</h1>
</section>
<section>
  <p>There was a time that concerts were an every month occurance, if not every week</p>
  <p>All the people... laughter, music, dance, drinks, fun, friends</p>
  <p>This is a place to group all those memories together in one place. </p>
</section>
